@import "../../../scss/utilities";

.footer {
  border-top: 1px solid $light-grey;
  text-align: center;
  margin-top: 30px;
  padding: 1.5rem;
  color: #777;
  font-size: 0.9rem;

  a {
    color: $primary-color;
  }
}
