@import "../../../scss/utilities";

header {
  @include justify-between;
  padding: 1.5rem;
  border-bottom: 1px solid $light-grey;
}

header h1 {
  font-size: 1.8rem;
}

header p {
  color: $primary-color;
}
