<header>
  <div>
    <h1>{{ title }}</h1>
    <p>Thrusday, Oct 6</p>
  </div>

  <app-button
    *ngIf="hasRoute('/')"
    text="{{ showAddTask ? 'Close' : 'Add' }}"
    (btnClick)="toggleAddTask()"
  ></app-button>
</header>
