@import "../../../scss/utilities";

.task {
  background-color: rgb(44, 44, 44);
  padding: 0.7rem 1rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}

.task h3 {
  @include justify-between;
  font-size: 1.03rem;
  font-weight: 600;
}
.task p {
  font-size: 0.8rem;
  color: #777;
}

.task h3::selection,
.task p::selection {
  color: #fff;
  background: $light-grey;
}

.icon {
  cursor: pointer;
}

.task.reminder {
  border-top: 4px solid $primary-color;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
