<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task.text }}
    <ng-icon
      class="icon"
      name="heroXMarkSolid"
      (click)="onDelete(task)"
    ></ng-icon>
  </h3>
  <p>{{ task.day }}</p>
</div>
