@import "../../../scss/utilities";

section {
  padding: 1.4rem 1rem;

  h4 {
    font-weight: 500;
  }

  p {
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    max-width: 600px;
  }

  a {
    color: $primary-color;
  }
}
