<section>
  <h2>Task Tracker</h2>
  <h4>The all in one most productive task tracker.</h4>
  <p>
    Task tracker is a simple application for handling everyday todo activities.
    This appication was built as a tutorial project with Angular and SCSS. If
    you notice any bugs or issue and you want to contribute to it, fell free to
    check out the repositiory on Gitlab. Enjoy ✅
  </p>

  <p>
    Want to learn more about how to stay productive, check out this article
    <a href="https://eke.hashnode.dev/how-to-effectively-maximize-your-day"
      >How to effectively maximize your day</a
    >
  </p>

  <a routerLink="/">Go back</a>
</section>
