@import "../../../scss/utilities";

.btn {
  @include items-center;
  @include button;
}

.btn-dark {
  background-color: $bg-secondary;
  color: white;

  &:hover {
    background-color: $bg-primary;
    color: white;
  }
}

.btn-primary {
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
