<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <div>
      <ng-icon class="icon" name="heroPlus"></ng-icon>
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        id="text"
        placeholder="Add Task"
      />
    </div>
  </div>

  <div class="form-control">
    <label for="day">Day & Time</label>
    <div>
      <ng-icon class="icon" name="heroPlus"></ng-icon>
      <input
        type="text"
        name="day"
        [(ngModel)]="day"
        id="day"
        placeholder="Add Day & Time"
      />
    </div>
  </div>

  <div class="form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn" />
</form>
