@import "../../../scss/utilities";

form {
  @include flex-col;
  gap: 10px;

  .form-control {
    @include flex-col;
    gap: 0.3rem;
    width: 100%;

    div {
      @include justify-center;
      position: relative;
    }

    label {
      font-size: 0.8rem;
    }

    .icon {
      position: absolute;
      left: 20px;
      color: #777;
    }

    input {
      width: 100%;
      padding: 1.1rem 1rem;
      border-radius: 3px;
      border: 1px solid $light-grey;
      background-color: $bg-primary;
      color: #fff;
      text-indent: 40px;
      font-size: 0.9rem;
      transition: 0.14s ease-in-out;
      cursor: cell;

      &:focus {
        outline: none;
        border: 1px solid #555555;
      }
    }
  }

  .btn {
    @include button;
  }
}

.form-control-check {
  @include items-center;
  gap: 1rem;
  padding: 0.5rem 0;

  label,
  input {
    cursor: pointer;
  }
}
