@import "../../../scss/utilities";

aside {
  @include flex-col;
  border-right: 1px solid $light-grey;
  height: 100%;

  & > * {
    border-bottom: 1px solid $light-grey;
    padding: 1.5rem;

    &:hover {
      background: $light-grey;
    }
  }

  .logo {
    @include items-center;
    color: $primary-color;
    gap: 0.4rem;

    .icon {
      font-size: 1.5rem;
    }
  }

  .social {
    font-weight: 600;
    @include items-center;
    gap: 0.5rem;
  }
}
