@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import "scss/utilities.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  line-height: 1.5;
  background-color: $bg-secondary;
  color: white;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.8px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 900px;
  min-height: 550px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0 auto;
  border: 1px solid $bg-primary;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $bg-primary;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;

    .hidden {
      display: none;
    }
  }
}

.icon {
  font-size: 1.5rem;
}
