// Variables
$primary-color: #33d48b;
$secondary-color: #00d26a;
$bg-secondary: #111111;
$bg-primary: #222222;
$light-grey: #333333;

// Mixins
@mixin items-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  align-items: center;
}

@mixin justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin button {
  border: none;
  padding: 0.5rem 1rem;
  gap: 2px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.94rem;
  font-weight: 600;
  background-color: $secondary-color;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
